In [104]:
import pandas as pd
import numpy as np
df= pd.read_csv('Car details v3.csv')
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [105]:
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [106]:
df = df.fillna(df.mode().iloc[0])  # can have multiple mode so filling with first mode
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

In [107]:
df= df.drop('name', axis=1)

In [108]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
df['fuel_1']=encoder.fit_transform(df['fuel'])
df['seller_type_1']=encoder.fit_transform(df['seller_type'])
df['transmission_1']=encoder.fit_transform(df['transmission'])
df['owner_1']=encoder.fit_transform(df['owner'])
df

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,fuel_1,seller_type_1,transmission_1,owner_1
0,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,1,1,1,0
1,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,1,1,1,2
2,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,3,1,1,4
3,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,1,1,1,0
4,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0,3,1,1,0
8124,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0,1,1,1,1
8125,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0,1,1,1,0
8126,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0,1,1,1,0
8127,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0,1,1,1,0

In [109]:
df=df.drop('fuel', axis=1)
df=df.drop('seller_type', axis=1)
df=df.drop('transmission', axis=1)
df=df.drop('owner', axis=1)
df

,year,selling_price,km_driven,mileage,engine,max_power,torque,seats,fuel_1,seller_type_1,transmission_1,owner_1
0,2014,450000,145500,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,1,1,1,0
1,2014,370000,120000,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,1,1,1,2
2,2006,158000,140000,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0,3,1,1,4
3,2010,225000,127000,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0,1,1,1,0
4,2007,130000,120000,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,2013,320000,110000,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0,3,1,1,0
8124,2007,135000,119000,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0,1,1,1,1
8125,2009,382000,120000,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0,1,1,1,0
8126,2013,290000,25000,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0,1,1,1,0
8127,2013,290000,25000,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0,1,1,1,0

In [110]:
df['mileage'] = df['mileage'].str.replace('kmpl', '', regex=False) #kmpl lai space le replace garxa
df['mileage'] = df['mileage'].str.strip() #space hatauxa
df['max_power'] = df['max_power'].str.replace('bhp', '', regex=False) #kmpl lai space le replace garxa
df['max_power'] = df['max_power'].str.strip() #space hatauxa
df['engine'] = df['engine'].str.replace('CC', '', regex=False) #kmpl lai space le replace garxa
df['engine'] = df['engine'].str.strip() #space hatauxa
df

,year,selling_price,km_driven,mileage,engine,max_power,torque,seats,fuel_1,seller_type_1,transmission_1,owner_1
0,2014,450000,145500,23.4,1248,74,190Nm@ 2000rpm,5.0,1,1,1,0
1,2014,370000,120000,21.14,1498,103.52,250Nm@ 1500-2500rpm,5.0,1,1,1,2
2,2006,158000,140000,17.7,1497,78,"12.7@ 2,700(kgm@ rpm)",5.0,3,1,1,4
3,2010,225000,127000,23.0,1396,90,22.4 kgm at 1750-2750rpm,5.0,1,1,1,0
4,2007,130000,120000,16.1,1298,88.2,"11.5@ 4,500(kgm@ rpm)",5.0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,2013,320000,110000,18.5,1197,82.85,113.7Nm@ 4000rpm,5.0,3,1,1,0
8124,2007,135000,119000,16.8,1493,110,"24@ 1,900-2,750(kgm@ rpm)",5.0,1,1,1,1
8125,2009,382000,120000,19.3,1248,73.9,190Nm@ 2000rpm,5.0,1,1,1,0
8126,2013,290000,25000,23.57,1396,70,140Nm@ 1800-3000rpm,5.0,1,1,1,0
8127,2013,290000,25000,23.57,1396,70,140Nm@ 1800-3000rpm,5.0,1,1,1,0

In [128]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['selling_price']= scaler.fit_transform(df[['selling_price']])

In [129]:
# aba chai yaslai test ra train ma split garera train garne ani evaluate garne
#split
# 1. Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# 2. Define your features (X) and target (y)
# Example: if you're predicting 'selling_price'
X = df.drop(['selling_price'], axis=1)   # All columns except target
y = df['selling_price']                   # Target column

# 3. Train-Test Split (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [130]:
#non numeric lai numeric banayo so aghi ako train garda ako problem solve garna
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
X_train['torque_value'] = encoder.fit_transform(X_train['torque_value'])
X_train['rpm'] = encoder.fit_transform(X_train['rpm'])
df = df.fillna(df.mode().iloc[0])  # can have multiple mode so filling with first mode

In [131]:
df

,year,selling_price,km_driven,mileage,engine,max_power,seats,fuel_1,seller_type_1,transmission_1,owner_1,torque_value,rpm
0,2014,0.042126,145500,23.40,1248,74.00,5.0,1,1,1,0,190.0,2000.0
1,2014,0.034102,120000,21.14,1498,103.52,5.0,1,1,1,2,250.0,2000.0
2,2006,0.012839,140000,17.70,1497,78.00,5.0,3,1,1,4,12.7,2000.0
3,2010,0.019559,127000,23.00,1396,90.00,5.0,1,1,1,0,190.0,2000.0
4,2007,0.010030,120000,16.10,1298,88.20,5.0,3,1,1,0,11.5,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,2013,0.029087,110000,18.50,1197,82.85,5.0,3,1,1,0,113.7,4000.0
8124,2007,0.010532,119000,16.80,1493,110.00,5.0,1,1,1,1,24.0,2000.0
8125,2009,0.035306,120000,19.30,1248,73.90,5.0,1,1,1,0,190.0,2000.0
8126,2013,0.026078,25000,23.57,1396,70.00,5.0,1,1,1,0,140.0,2000.0
8127,2013,0.026078,25000,23.57,1396,70.00,5.0,1,1,1,0,140.0,2000.0

In [132]:
print(df['max_power'].describe)  # View unique values to check if there are any other units or strings
#the problem was due to max_power because it was not integer or float column
X_train['max_power'] = encoder.fit_transform(X_train['max_power'])
df = df.fillna(df.mode().iloc[0])  # can have multiple mode so filling with first mode

<bound method NDFrame.describe of 0        74.00
1       103.52
2        78.00
3        90.00
4        88.20
         ...
8123     82.85
8124    110.00
8125     73.90
8126     70.00
8127     70.00
Name: max_power, Length: 8128, dtype: float64>

In [134]:
# Step 1: Remove 'bhp' and extra spaces
df['max_power'] = df['max_power'].str.replace('bhp', '', regex=False).str.strip()

# Step 2: Convert it into numeric values
df['max_power'] = pd.to_numeric(df['max_power'], errors='coerce')

# Step 3: Fill any missing values (after conversion) with the mean
df['max_power'] = df['max_power'].fillna(df['max_power'].mean())

AttributeError: Can only use .str accessor with string values!

In [135]:
print(df['engine'].describe)
# Step 1: Remove 'CC' and extra spaces


# Step 2: Convert it into numeric values
df['engine'] = pd.to_numeric(df['engine'], errors='coerce')

# Step 3: Fill missing values (after conversion) with the mean
df['engine'] = df['engine'].fillna(df['engine'].mean())

<bound method NDFrame.describe of 0       1248
1       1498
2       1497
3       1396
4       1298
        ...
8123    1197
8124    1493
8125    1248
8126    1396
8127    1396
Name: engine, Length: 8128, dtype: int64>

In [137]:
# Example for 'mileage', 'engine', 'max_power', 'torque_value', 'rpm' etc.
columns_to_fix = ['mileage', 'engine', 'max_power', 'torque_value', 'rpm']  # Add your real column names here

for col in columns_to_fix:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [138]:
for col in X_train.columns:
    X_train[col] = pd.to_numeric(X_train[col], errors='coerce')
for col in X_test.columns:
    X_test[col] = pd.to_numeric(X_test[col], errors='coerce')

In [140]:
print(df.dtypes)
print(X_train.isnull().sum())
print(y_train.isnull().sum())

year                int64
selling_price     float64
km_driven           int64
mileage           float64
engine              int64
max_power         float64
seats             float64
fuel_1              int64
seller_type_1       int64
transmission_1      int64
owner_1             int64
torque_value      float64
rpm               float64
dtype: object
year              0
km_driven         0
mileage           0
engine            0
max_power         0
seats             0
fuel_1            0
seller_type_1     0
transmission_1    0
owner_1           0
torque_value      0
rpm               0
dtype: int64
0

In [141]:
# Fill missing mileage with mean of mileage
df['mileage'] = df['mileage'].fillna(df['mileage'].mean())

# Now recreate X and y after cleaning
X = df.drop('selling_price', axis=1)  # Features
y = df['selling_price']               # Target

# Then split again
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Ensure no missing values in training and testing sets
X_train = X_train.fillna(X_train.mean())
X_test = X_test.fillna(X_test.mean())
y_train = y_train.fillna(y_train.mean())
y_test = y_test.fillna(y_test.mean())

In [142]:

import lightgbm as lgb
from sklearn.model_selection import train_test_split

# Split data
X = df.drop('selling_price', axis=1)  # Features
y = df['selling_price']               # Target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Train LightGBM
model = lgb.LGBMRegressor(random_state=42)  # Default params work well!
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000340 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1037
[LightGBM] [Info] Number of data points in the train set: 6502, number of used features: 12
[LightGBM] [Info] Start training from score 0.061972

In [143]:
from sklearn.metrics import mean_absolute_error, r2_score
print("MAE:", mean_absolute_error(y_test, y_pred))
print("RÂ² Score:", r2_score(y_test, y_pred))

MAE: 0.0068954135696923016
RÂ² Score: 0.972768931850206

In [144]:
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming y_test and y_pred are your actual and predicted values
mse = mean_squared_error(y_test, y_pred)  # Calculate MSE
rmse = np.sqrt(mse)  # Take the square root of MSE to get RMSE

print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")

Root Mean Squared Error (RMSE): 0.01